@font-face {
  font-family: "iconfont"; /* Project id 3798899 */
  src: url('iconfont.woff2?t=1679057523426') format('woff2'),
       url('iconfont.woff?t=1679057523426') format('woff'),
       url('iconfont.ttf?t=1679057523426') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before {
  content: "\e622";
}

.icon-xialatubiao:before {
  content: "\e64c";
}

.icon-youxiang:before {
  content: "\e672";
}

.icon-ic_examine:before {
  content: "\e6b5";
}

.icon-Rrl_s_078:before {
  content: "\e621";
}

.icon-miaobiao:before {
  content: "\e67b";
}

.icon-kaoshi:before {
  content: "\e62f";
}

.icon-xunhuanrecycle64:before {
  content: "\e729";
}

.icon-file-unknown:before {
  content: "\e7b9";
}

.icon-shouye-shouye:before {
  content: "\e620";
}

.icon-pinglun:before {
  content: "\e61e";
}

.icon-tishi:before {
  content: "\e61f";
}

.icon-fenlei:before {
  content: "\e658";
}

.icon-fuwuleixing:before {
  content: "\e648";
}

.icon-biz-test-o:before {
  content: "\e619";
}

.icon-suyaniconchanpinleibufenzuodaohangbufen87:before {
  content: "\e730";
}

.icon-Tools:before {
  content: "\ed5f";
}

.icon-24gf-hospital:before {
  content: "\e83d";
}

.icon-file:before {
  content: "\e739";
}

.icon-file-delete:before {
  content: "\e670";
}

.icon-word:before {
  content: "\e609";
}

.icon-WORD:before {
  content: "\e6eb";
}

.icon-pdf1:before {
  content: "\e740";
}

.icon-folder-open:before {
  content: "\e7d1";
}

.icon-ppt:before {
  content: "\e63f";
}

.icon-WORD1:before {
  content: "\e61b";
}

.icon-excel:before {
  content: "\e61c";
}

.icon-text:before {
  content: "\e959";
}

.icon-tianjiazikuai:before {
  content: "\e617";
}

.icon-camera-GOTO_PRESET:before {
  content: "\e653";
}

.icon-nav_icon_jinduguanli:before {
  content: "\e618";
}

.icon-wode_me:before {
  content: "\e623";
}

.icon-archive:before {
  content: "\e633";
}

.icon-image:before {
  content: "\e615";
}

.icon-video:before {
  content: "\e663";
}

.icon-AUDIO:before {
  content: "\e616";
}

.icon-shuqian_bookmark:before {
  content: "\e61a";
}

.icon-yasuowenjian_file-zip:before {
  content: "\e61d";
}

.icon-kehuguanli:before {
  content: "\e714";
}

.icon-a-dingweixiao2x:before {
  content: "\e602";
}

.icon-a-shizhong-fill2x:before {
  content: "\e603";
}

.icon-a-lianjie2x:before {
  content: "\e604";
}

.icon-a-xiafa2x:before {
  content: "\e605";
}

.icon-a-fenxiang2x:before {
  content: "\e606";
}

.icon-a-bianzu21x:before {
  content: "\e607";
}

.icon-a-erweima2x:before {
  content: "\e608";
}

.icon-line_remind:before {
  content: "\e600";
}

.icon-line_people-business:before {
  content: "\e601";
}

.icon-icon_dianhua:before {
  content: "\e642";
}

.icon-icon_shoukuanrenxingming:before {
  content: "\e647";
}

.icon-yuanquzixun:before {
  content: "\e712";
}

.icon-chanyefenxi:before {
  content: "\e710";
}

.icon-chanyelian:before {
  content: "\e713";
}

.icon-lettersvg:before {
  content: "\e614";
}

.icon-branch:before {
  content: "\e639";
}

.icon-square-card:before {
  content: "\e63a";
}

.icon-kefu:before {
  content: "\e650";
}

.icon-icon-mianxing_fuzhi_bukejian:before {
  content: "\e60a";
}

.icon-icon-mianxing_fuzhi_kejian:before {
  content: "\e60b";
}

.icon-icon-mianxing_fuzhi_kaifa:before {
  content: "\e60c";
}

.icon-icon-mianxing_fuzhi_gaojing:before {
  content: "\e60d";
}

.icon-icon-mianxing_fuzhi_mima:before {
  content: "\e60e";
}

.icon-icon-mianxing_fuzhi_bangzhu:before {
  content: "\e60f";
}

.icon-icon-mianxing_fuzhi_yonghu:before {
  content: "\e610";
}

.icon-icon-mianxing_fuzhi_shezhi:before {
  content: "\e611";
}

.icon-icon-mianxing_fuzhi_fanhui:before {
  content: "\e612";
}

.icon-icon-mianxing_fuzhi_chakanrizhi:before {
  content: "\e613";
}

.icon-kejichanyefuwu:before {
  content: "\e711";
}

