@font-face {
    font-family: "OPPOSans-B";   //粗体
    src: url("./OPPOSans-B.ttf");  //引入字体文件
  }
  @font-face {
    font-family: "OPPOSans-H";   //超粗体
    src: url("./OPPOSans-H.ttf");  //引入字体文件
  }
  @font-face {
    font-family: "OPPOSans-L";   //最细
    src: url("./OPPOSans-L.ttf");  //引入字体文件
  }
  @font-face {
    font-family: "OPPOSans-M";   //给引入的字体起个名字
    src: url("./OPPOSans-M.ttf");  //引入字体文件
  }
  @font-face {
    font-family: "OPPOSans-R";   //给引入的字体起个名字
    src: url("./OPPOSans-R.ttf");  //引入字体文件
  }
          